@model stackcode.Models.Twitter.Status[]

@foreach (var tweet in Model)
{
    <div>
        <b>@tweet.CreatedAt</b>: <p>@tweet.Text</p>
    </div>

    var titleStartIndex = tweet.Text.IndexOf("(");
    var titleEndIndex = tweet.Text.IndexOf(")");
    var title = tweet.Text.Substring(titleStartIndex, titleEndIndex - titleStartIndex);
    <textarea style="width: 100%">
        ---
        layout: post
        title:  "@title";
        date:  @tweet.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss") +0000;
        tags: ["not-tagged"]
        tweet: https://twitter.com/Nick_Craver/status/@tweet.Id
        ---

        <blockquote class="twitter-tweet" data-lang="en">
            <p lang="en" dir="ltr">
                A daily screenshot from the Stack Overflow codebase (ordering on the web tier scales out; often faster).
                <a href="https://twitter.com/hashtag/StackCode?src=hash">#StackCode</a>
                <a href="https://t.co/nw4pVx2tnU">pic.twitter.com/nw4pVx2tnU</a>
            </p>&mdash; Nick Craver (@@Nick_Craver)
            <a href="https://twitter.com/Nick_Craver/status/766222299330646020">August 18, 2016</a>
        </blockquote>
    </textarea>
        }

@{
    var last = Model.Last();
    <a href="@Url.Action("Index", "StackCode", new { maxId = @last.Id })">Older</a>
}